.footer-wrapper {
    background-color: #ffffff;
}

.mat-list-item {
    color: #ffffff !important;
}

.footer-item {
    padding: 30px;
    box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.2);

    &.social-networks {
        padding-top: 5% !important;
        img {
            width: 2rem;
        }
    }
}

.footer-box:first-child {
    padding-left: 0;
}

.footer-box-title {
    position: relative;
    margin: 0 0 24px;
    padding-bottom: 12px;
}

.footer-box-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 64px;
    background-color: #ffc107;
}

.footer-item .mat-list {
    padding: 0 !important;
}

.footer-item .mat-list-item-content {
    padding-left: 0 !important;
}

.footer-item .mat-list-text {
    color: #ffffff;
}

.text-footer {
    color: #000;
    margin: 0;
}

.text-social-network {
    color: #000;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 1.2rem;
    cursor: pointer;
}

@media (max-width: 959px) {
    .footer-box:first-child {
        padding-left: 30px;
    }
    .footer-box {
        box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    }
    .footer-item {
        padding: 30px 15px;
    }
}
