<footer class="footer-wrapper">

    <div class="container">
        <div fxLayout="row nowrap" fxLayout.lt-md="column">
            <div fxFlex="50" class="footer-item">

                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon color="accent">email</mat-icon>
                        <p class="text-footer"> fundacionblanquita@gmail.com </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon color="accent">location_on</mat-icon>
                        <p class="text-footer">Carrera 22 # 16 - 40, Barrio San Francisco, Bucaramanga, Colombia</p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon color="accent">phone_iphone</mat-icon>
                        <p class="text-footer">304 615 2073 - 304 615 7647 - 304 616 5361</p>
                    </mat-list-item>
                </mat-list>
            </div>
            <div fxFlex="50" class="footer-item social-networks">
                <mat-list>
                    <mat-list-item>
                        <img src="assets/icons/facebook-icon.png">
                        <p class="text-social-network" (click)="goToFacebook()">FEMOB</p>
                    </mat-list-item>
                    <mat-list-item>
                        <img src="assets/icons/instagram-icon.png">
                        <p class="text-social-network" (click)="goToInstragam()">Fundacionblanquita</p>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>

</footer>
