<section id="service-section" class="services-wrappper gap bg-grey">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Nuestros Servicios</h2>
                <p class="lead w-60"> En Femob queremos ayudar a nuestros pacientes ofreciendo el siguiente paquete de servicios.</p>
            </div>
        </div>
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="100">
                <mat-card>
                    <div class="service-card">
                        <div class="text-center icon-cap">
                            <img mat-card-image src="assets/icons/odontologia-5.png">
                        </div>
                        <div class="service-title mb-2">
                            <h4>Medicina General y Especializada</h4>
                        </div>
                        <div class="content-cap">
                            <p>Medicina interna, pediatría, dermatología, ortopedia y traumatología. </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="100">
                <mat-card>
                    <div class="service-card">
                        <div class="text-center icon-cap">
                            <img mat-card-image src="assets/icons/odontologia-1.png">
                        </div>
                        <div class="service-title mb-2">
                            <h4>Odontología General</h4>
                        </div>
                        <div class="content-cap">
                            <p>Diagnóstico y prevención, limpieza, eliminación de caries y restauraciones en resina. </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="100">
                <mat-card>
                    <div class="service-card">
                        <div class="text-center icon-cap">
                            <img mat-card-image src="assets/icons/odontologia-4.png">
                        </div>
                        <div class="service-title mb-2">
                            <h4>Ortodoncia y Ortopedia</h4>
                        </div>
                        <div class="content-cap">
                            <p>Ortodoncia convencional, autoligable, estética y MEAW, Flow Jas System, ortopedia maxilar. </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="100">
                <mat-card>
                    <div class="service-card">
                        <div class="text-center icon-cap">
                            <img mat-card-image src="assets/icons/odontologia-3.png">
                        </div>
                        <div class="service-title mb-2">
                            <h4>Endodoncia</h4>
                        </div>
                        <div class="content-cap">
                            <p>Endodoncia y Retratamiento: unirrdicular, birradicular, multirradicular, desobturación para retenedores, aclaramiento interno, remosión de retenodres, ferulización, apexificación, apexogénesis, cirugía apical. </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="100">
                <mat-card>
                    <div class="service-card">
                        <div class="text-center icon-cap">
                            <img mat-card-image src="assets/icons/odontologia-6.png">
                        </div>
                        <div class="service-title mb-2">
                            <h4>Rehabilitación Oral</h4>
                        </div>
                        <div class="content-cap">
                            <p>Aclaramientos dentales, diseño de sonrisa, prótesis fija, prótesis removible, prótesis total, implantes dentales. </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="100">
                <mat-card>
                    <div class="service-card">
                        <div class="text-center icon-cap">
                            <img mat-card-image src="assets/icons/odontologia-2.png">
                        </div>
                        <div class="service-title mb-2">
                            <h4>Periodoncia</h4>
                        </div>
                        <div class="content-cap">
                             <p>Raspaje radicular, gingivectomía, nivelación de márgenes, eliminación de torus, regeneración ósea,elevación seno maxilar, extracción de dientes incluidos, frenillectomía. </p>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</section>
