<section id="intro-one-section" class="home-intro-section primary-bg">
    <div class="container" fxLayout="row wrap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <h1 class="home-intro-title">Fundación Especialistas Médico Odontológico Blanquita</h1>
            <div class="home-intro-desc">
                FEMOB es una entidad de salud que desea brindar el mejor servicio del deparatamento,
                ampliando nuestro portafolio con un mejor modelo de atención humana.
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column">
                <button mat-raised-button mat-lg-button id="frontend-btn" class="mat-accent" scrollTo="contact-section"><mat-icon>email</mat-icon> Contáctenos</button>
            </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <div class="intro-product">
                <img mat-card-image src="assets/images/femob_logo.png" [style.margin]="'0 !important'">
            </div>
        </div>
    </div>
</section>
