<section id="intro-one-section" class="home-intro-section primary-bg">
    <div class="container" fxLayout="row wrap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <h1 class="home-intro-title">Fundación Especialistas Médico Odontológico Blanquita</h1>
            <div class="home-intro-desc">
                Somos una fundación privada sin ánimo de lucro,
                que brinda servicios de salud general y especializada.
                Contamos con un equipo humano competente,
                comprometidos con calidad, seguridad y humanización.
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column">
                <button mat-raised-button mat-lg-button id="frontend-btn" (click)="getNGLanding()"><mat-icon>phone</mat-icon> Contáctenos</button>
            </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <div class="intro-product">
                <img mat-card-image src="assets/images/femob_logo.png" [style.margin]="'0 !important'">
            </div>
        </div>
    </div>
</section>
