<section id="portfolio-section" class="portfolio home-section gap">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">La Fundación</h2>
                <p class="lead w-60"> Quiénes somos, qué hacemos y por qué lo hacemos?</p>
            </div>
        </div>
        <div fxLayout="row nowrap" fxLayout.lt-md="column" fxLayoutGap="30px">
            <div fxFlex="33.33">
                <mat-card class="p-0 m-0">
                    <img mat-card-image src="assets/images/doctor-group.jpg">
                    <mat-card-content>
                        <div class="title-head">
                            <h4><strong><a href="">Nuestro Propósito</a></strong></h4>
                        </div>
                        <p>
                            FEMOB como entidad sin ánimo de lucro, apoyará de forma
                            efectiva proyectos de vida de jóvenes competentes profesionales
                            y en formación académica y deportiva acompañándolos a hacer realidad
                            sus sueños.
                        </p>
                        <mat-divider class="mb-1"></mat-divider>
                        <div>
                            <button mat-icon-button><mat-icon class="text-muted">favorite</mat-icon></button>
                            <span fxFlex></span>
                            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="33.33">
                <mat-card class="p-0 m-0">
                    <img mat-card-image src="assets/images/patient-child.jpg">
                    <mat-card-content>
                        <div class="title-head">
                            <h4><strong><a href="">Nuestra Misión</a></strong></h4>
                        </div>
                        <p>
                            Somos una fundación privada sin ánimo de lucro,
                            que brinda servicios de salud general y especializada.
                            Contamos con un equipo humano competente, comprometidos con calidad,
                            seguridad y humanización.
                        </p>
                        <mat-divider class="mb-1"></mat-divider>
                        <div>
                            <button mat-icon-button><mat-icon class="text-muted">favorite</mat-icon></button>
                            <span fxFlex></span>
                            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="33.33">
                <mat-card class="p-0 m-0">
                    <img mat-card-image src="assets/images/patient-three.jpg">
                    <mat-card-content>
                        <div class="title-head">
                            <h4><strong><a href="">Nuestra Visión</a></strong></h4>
                        </div>
                        <p>
                            Ser la entidad de salud con mejor servicio a nivel departamental,
                            ampliando nuestro portafolio, con un modelo de atención humanizado,
                            brindando calidad, oportunidad, con tecnología y personal capacitado.

                        </p>
                        <mat-divider class="mb-1"></mat-divider>
                        <div>
                            <button mat-icon-button><mat-icon class="text-muted">favorite</mat-icon></button>
                            <span fxFlex></span>
                            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>
